<div class="row user">
    <div class="col col-lg-8 ">
        <div class="no-p user-info-box bg-white">
            <div class="user-info-list">
                <img src="images/ex_fulin.jpg" alt="">
                <ul class="no-p"><p class="user-name no-p no-m">ermu</p><p class="user-tags">只有学习能使我快乐</p></ul>
                <ul class="no-p">
                    <li class="address-job"><i class="glyphicon glyphicon-map-marker"></i><a>填写居住地址</a> | <a>填写行业</a> | <i></i></li>
                    <li class="job-info"><i class="glyphicon glyphicon-lock"></i><a>填写工作信息</a></li>
                    <li class="education"><i class="glyphicon glyphicon-book"></i><a>填写教育信息</a></li>
                    <li class="detail-info bb"><i class="glyphicon glyphicon-arrow-right"></i><a>查看详细资料</a></li>
                    <li class="write-user-info"><i class="glyphicon glyphicon-pencil"></i><a href="">填写个人简介</a></li>
                </ul>
                <div class="clearfix bt praise-box">
                    <span>获得</span>
                    <i class="glyphicon glyphicon-thumbs-up"></i><span>0赞同</span>
                    <i class="glyphicon glyphicon-heart-empty"></i><span>0感谢</span>
                    <button class="btn btn-success fr">完善我的资料</button>
                </div>
            </div>
            <div class="dynamic clearfix">
                <a class="home"><i class="glyphicon glyphicon-home"></i></a>
                <a class="">提问 <span>0</span></a>
                <a class="">回答 <span>0</span></a>
                <a class="">文章 <span>0</span></a>
                <a class="">收藏 <span>0</span></a>
                <a class="">公共编辑 <span>0</span></a>

            </div>
        </div>
        <div class="question-box no-p bg-white">
            <div class="header clearfix bb">文章 <i class="fr glyphicon glyphicon-chevron-right "></i></div>
            <div class="user-article-box clearfix bb">
                <button class="btn btn-success vertacal-align" type="button">
                    点赞 <span class="badge">4</span>
                </button>
                <div>
                    <a class="title" href="">nodeJS学习笔记</a>
                    <p class="no-m">通过一段时间的学习...</p>
                </div>
            </div>
            <div class="user-article-box clearfix">
                <button class="btn btn-success vertacal-align" type="button">
                    点赞 <span class="badge">4</span>
                </button>
                <div>
                    <a class="title" href="">nodeJS学习笔记</a>
                    <p class="no-m">通过一段时间的学习...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-lg-3 no-p user-right-part">
        <div class="row bb no-p no-m">
            <div class="col col-lg-4 no-p br">
                <p class="no-m">关注了</p>
                <p class="no-m"><span>26</span>人</p>
            </div>
            <div class="col col-lg-8 ">
                <p class="no-m">粉丝</p>
                <p class="no-m"><span>0</span>人</p>
            </div>
        </div>
        <br>
        <p class="no-p"><span>关注了</span><a href="">10个板块</a></p>

    </div>
</div>